* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Montserrat';
  height: 100%;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: white;
  border-bottom: 2px solid #EFF5FB;
}

.header__links {
  display: flex;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}

.header__btn {
  background-color: #E3F5F5;
  border: none;
  padding: 14px 20px;
  border-radius: 4px;
  color: #03B2A5;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  min-width: 230px;
  min-height: 48px;
}

.header__burger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: #03B2A5;
}

.header__img {
  margin-left: 8px;
}

.main__arrow {
  margin-left: 4px;
}

.main__sections {
  padding: 40px 60px;
}

.main__header-link {
  display: inline-flex;
  align-items: center;
  color: #6C6C70;
  text-decoration: none;
  margin-right: 8px;
  font-size: 14px;
}

.main__title {
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0;
}

.main__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 24px;
  font-weight: 500;

}

.main__btn {
  padding: 6px 8px;
  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.main__self {
  padding: 6px 8px;
  background-color: white;
  border: 2px solid #16C8BB;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__upper-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 24px;
  max-width: 1200px;
  margin-bottom: 24px;
  align-items: stretch;
}

.main__section-one {
  display: flex;
  flex-direction: column;
  border: 1px solid #DEDEDE;
  border-radius: 16px;
  overflow: hidden;
  max-width: 100%;
  flex: 1;
  position: relative;
  padding-bottom: 102px;
  z-index: 1;
}

.main__card-content {
  display: flex;
  flex-direction: column;
}

.main__card {
  position: relative;
  max-width: 100%;
}

.main__img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: none;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  max-height: 260px;
  object-fit: cover;
  width: 100%;
}

.main__link {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #C1C5CD;
  border-radius: 24px;
  background-color: rgba(225, 225, 225, .7);
  color: #333333;
  padding: 6px 8px;
}

.main__link+.main__link {
  top: 48px;
}

.main__content {
  margin: 16px;
}

.main__subtitle {
  font-size: 18px;
  color: #333333;
  margin-bottom: 4px;
}

.main__author {
  font-size: 12px;
  font-weight: 400;
  color: #494949;
  margin-bottom: 8px;
}

.main__text {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.main__data {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 12px;
  font-weight: 400;
  color: #868686;
}

.main__line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.main__frame {
  max-width: 384px;
  border: 1px solid #DEDEDE;
  border-radius: 16px;
  position: relative;
  padding-bottom: 46px;
}

.main__img-frame {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.main__button {
  font-family: 'Montserrat';
  border: none;
  background-color: #35B3A9;
  color: #FFFFFF;
  max-width: 182px;
  max-height: 48px;
  padding: 12px 72.5px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 96px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2963A3;
  color: white;
  padding: 40px 120px 0px 120px;
}

.footer__bottom-nav {
  display: grid;
  grid-template-columns: 310px 486px 221px;
  gap: 91.5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(157, 157, 157, .3);
  padding-bottom: 24px;
  margin-bottom: 16px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}

.footer__nav-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.footer__link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.footer__subtitle {
  font-size: 18px;
  font-weight: 700;
}

.footer__text {
  font-size: 12px;
  font-weight: 400;
}

.footer__letter {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  gap: 8px;
}

.footer__form {
  position: relative;
}

.footer__form input {
  display: flex;
  width: 100%;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px;
  overflow: hidden;
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.footer__input {
  height: 48px;
  color: #9D9D9D;
  font-family: 'Montserrat';
}

.footer__btn {
  background-color: #00C29F;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 48px;
}

.footer__logo-social-media {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
}

.footer__father-social-media {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__down {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: start;
  align-items: center;
  margin-bottom: 17px;
}

.footer__bottom {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: rgba(225, 225, 225, .7);
}

/* Для iPad Pro */
@media (max-width: 1024px) {
  .header__nav {
    justify-content: space-between;
    padding: 20px 32px;
  }

  .header__links {
    gap: 16px;
  }

  .main__sections {
    padding: 16px 32px;
  }

  .main__upper-section {
    max-width: 960px;
  }

  .main__section-two {
    max-width: 960px;
  }

  .main__frame {
    max-width: 304px
  }

  .main__content {
    min-width: 272px;
    max-width: 436px;
    height: 188px;
  }

  .footer {
    padding: 40px 26px 0px 38px;
  }

  .footer__bottom-nav {
    grid-template-columns: 247px 450px 221px;
    gap: 21px;
  }
}

/* Для iPad mini */
@media (max-width: 768px) {
  .header__burger {
    display: block;
    cursor: pointer;
  }

  .header__btn,
  .header__links {
    display: none;
  }

  .main {
    margin: 0 auto;
  }

  .main__sections {
    max-width: 728px;
    margin: 16px 20px 33px;
    padding: 0;
  }

  .main__upper-section {
    flex-direction: column;
  }

  .main__section-two {
    display: flex;
    flex-direction: row;
  }

  .main__line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: stretch;
  }

  .main__frame {
    max-width: 352px;
  }

  .main__content {
    min-width: 320px;
    max-width: 696px;
    height: 100%;
  }

  .main__img-frame {
    min-height: 206px;
    max-height: 352px;
  }

  .main__button {
    margin-bottom: 55px;
  }

  .footer {
    padding: 35px 20px 23px;
    justify-content: stretch;
  }

  .footer__bottom-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: space-between;
  }

  .footer__links {
    width: 247px;
  }

  .footer__letter {
    padding: 0;
    max-width: 450px;
  }
}

/* Для iPhone 11 Pro Max */
@media (max-width: 414px) {
  .main__sections {
    margin: 16px 20px 28px;
    padding: 0;
  }

  .main__frame--mobile-hide {
    display: none !important;
  }

  .main__header-link,
  .main__arrow,
  .main__title,
  .main__btns,
  .main__frame {
    max-width: 374px;
  }

  .main__btns {
    gap: 7px;
  }

  .main__upper-section,
  .main__section-two {
    width: 374px;
    justify-content: center;
  }

  .main__btns {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    scrollbar-width: none;
  }

  .main__btn {
    flex: 0 0 auto;
  }

  .main__section-two {
    flex-direction: column;
  }

  .main__line {
    flex-direction: column;
    width: 374px;
  }

  .main__line--mobile-hide {
    display: none;
  }

  .footer__bottom-nav {
    gap: 23px;
    justify-content: space-between;
  }

  .footer__links {
    gap: 158px;
    width: 100%;
  }

  .footer__link {
    width: 111px;
  }
}

/* Для iPhone SE */
@media (max-width: 320px) {
  .main__sections {
    margin: 24px 16px 0px;
    padding: 0;
  }

  .main__btns {
    gap: 7px;
  }

  .main__header-link,
  .main__arrow,
  .main__title,
  .main__btns,
  .main__frame {
    max-width: 288px;
    height: auto;
  }

  .main__upper-section,
  .main__section-two {
    width: 288px;
    justify-content: center;
  }

  .main__section-one,
  .main__frame {
    min-height: 484px;
    padding-bottom: 0;
  }

  .main__img,
  .main__img-frame,
  .main__card {
    width: 288px;
    height: 206px;
    padding: 0;
  }

  .main__line {
    flex-direction: column;
    width: 288px;
  }

  .main__button {
    margin-bottom: 59px;
  }

  .footer__links {
    gap: 71px;
    width: 100%;
  }

  .footer__down {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
}